<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
 <title>Splitflap</title>
 <script src="{{ url_for('static', filename='ticker-board.min.js') }}"></script>
</head>
<body>
<div id="board"></div>
<script>
	const board = new Board(document.querySelector('#board'), {count: 12, size: 44, delay: 1000})
	
	function formatMessages(messages) {
		let mymsgs = messages.messages.map(({ text }) => text);
		board.updateMessages(mymsgs)
		setTimeout(() => { getMessages(); }, 300000);
	}

	function getMessages() {
		fetch('{{ url_for('render_board') }}').then((response) => response.json()).then((json) => formatMessages(json))
	}

	getMessages()
		
</script>

</body>
</html>
